body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #08465C;
  background-image: -moz-linear-gradient(top, #1299CA, #08465C);
  background-image: -ms-linear-gradient(top, #1299CA, #08465C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1299CA), to(#08465C));
  background-image: -webkit-linear-gradient(top, #1299CA, #08465C);
  background-image: -o-linear-gradient(top, #1299CA, #08465C);
  background-image: linear-gradient(top, #1299CA, #08465C);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1299CA', endColorstr='#08465C', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #08465C;
}

.btn-success:active, .btn-success.active {
  background-color: #08465C;
}

div.container a.brand {
    background: url("../images/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
.marg-bas{
	margin-bottom:25px;
}
.liste-grise{
	background-color:#F0F0F0;
}
.liste-blanche{
	background-color:#FFFFFF;
}
.decalage-droite{
	margin-left:25px;
}
.invisible{
	visibility:hidden;
}
.pagination{
	text-align:center;
}
.width80{
	width:80%;
}
.btn-vert-cent{
	vertical-align:25%;
	margin-left:5px;
}
.btn-rotat{
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
}
.display-none{
	display:none;
}