body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}
.btn-plus{
  color:white;
  background-color: #08465C;
  background-image: -moz-linear-gradient(top, #1299CA, #08465C);
  background-image: -ms-linear-gradient(top, #1299CA, #08465C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1299CA), to(#08465C));
  background-image: -webkit-linear-gradient(top, #1299CA, #08465C);
  background-image: -o-linear-gradient(top, #1299CA, #08465C);
  background-image: linear-gradient(top, #1299CA, #08465C);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1299CA', endColorstr='#08465C', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.btn-plus:hover,
.btn-plus:active,
.btn-plus.active,
.btn-plus.disabled,
.btn-plus[disabled] {
  background-color: #08465C;
  color:white;
}

.btn-plus:active, .btn-plus.active {
  background-color: #08465C;
}

div.container a.brand {
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
.marg-bas{
	margin-bottom:25px;
}
.liste-grise{
	background-color:#F0F0F0;
}
.liste-blanche{
	background-color:#FFFFFF;
}
.decalage-droite{
	margin-left:25px;
}
.invisible{
	visibility:hidden;
}
.pagination{
	text-align:center;
}
.width80{
	width:80%;
}
.width310{
	width:310px;
}
.width360{
	width:360px;
}
table.table .btn-vert-cent{
	vertical-align:25%;
	margin-left:5px;
}
table .btn-vert-cent{
	vertical-align:95%;
	margin-left:5px;
}
.btn-rotat{
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
}
.display-none{
	display:none;
}
form#activity>dl.zend_form dd>label>span, form#group>dl.zend_form dd>label>span, form#user>dl.zend_form dd>label>span{
	display:block;
	float:left;
}
form#activity>dl.zend_form dd>label>span{
	width:95px;
}
form#group>dl.zend_form dd>label>span{
	width:50px;
}
form#user>dl.zend_form dd>label>span{
	width:150px;
}
.fil-ariane{
	font-size:12px;
}
footer{
	text-align:center;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:3px;
}